<div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="rectangle rectangle-1 rectangle-2 rectangle-4">
          <div class="rectangle rectangle-3"></div>
        </div>
        <div class="rectangle rectangle-2 rectangle-3"></div>
        <h1 class="dom-heading dom-heading-1">Name</h1>
        <div class="rectangle rectangle-1 rectangle-5">
          <h1 class="dom-heading dom-heading-2">Spec Name</h1>
          <h4 class="dom-heading dom-heading-3">Spec Content</h4>
        </div>
      </div>
    </div>